services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      - MONGODB_URI=mongodb://mongo:27017/sentinel_upload
    ports:
      - "8000:8000"
    depends_on:
      - mongo

volumes:
  mongo_data:
