apiVersion: apps/v1
kind: Deployment
metadata:
  name: clamav
  namespace: sentinel
  labels:
    app.kubernetes.io/name: clamav
    app.kubernetes.io/part-of: sentinel-platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: clamav
  template:
    metadata:
      labels:
        app.kubernetes.io/name: clamav
        app.kubernetes.io/part-of: sentinel-platform
    spec:
      containers:
        - name: clamav
          image: clamav/clamav:1.4
          ports:
            - containerPort: 3310
          livenessProbe:
            tcpSocket:
              port: 3310
            initialDelaySeconds: 30
            periodSeconds: 20
          readinessProbe:
            tcpSocket:
              port: 3310
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1500Mi
